.login-page-main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url(back2.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}
